/* ---------------Cascading Style Sheet for Projectzero --------------  */
body    {
         font-family: "Futura, Trebuchet MS, Arial, san-serif";
         color: #202124;
        }
      
h1      {
        font-size: 42pt;
        margin: 5px;
        }
      
h3      {
        margin: 30px 0px 10px 47px;                                     /* Shorthand property sets the margin area on all 4 sides of an element. */
        }                                                               /* Top, Right, Bottom, Left                                              */


header, .header-links  
        {
        align-items: right;                                             /* Property centers the alignments for all items in the div     */
        text-align: right;                                              /* Property specifies the horiz alignment of text in an element */
        max-width: 1100px;                                              /* Property sets the maximum width of an element in these divs  */
        margin: auto;                                                   /* The browser calculates the margin                            */
        } 

.header-links 
        {
        align-items: right;
        }
 
/* Center search field & 2 buttons below - Search.html                  */
.main-search 
        {
        padding-top: 60px;
        text-align: center;
        width: 100%
        }

 /* Create rounded borders in the input search field - index.html      */
.search_field
        {
        border-radius: 50px; 
        width: 280px;        
        }

/* All foursearchbars fields being affected in the advancesearch.html   */
.foursearchbars 
        {
        border-radius: 10px;
        margin-right: 300px;
        padding: 7px;
        width: 250px; 
 
        /* height: 300px;    doesn't work */
        }

/* To center text & search field in searchimages.html                    */
.search-container
        {
        text-align: center;
        border: 1px solid black;
        }
        
.main_div
        {
        width: 100%;
        }

.label
        {
        display:inline-block;
        }

/* searchbutton found below the 4 searh fields in advancesearch.html    */
.searchbutton 
        {
        background-color: blue;
        color: white;
        border-style: none;
        width: 415px;
        height: 15px;
        margin: 20px 15px;                                              /* Margin property shorthand for margin-top and margin-right properties */
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 35px;
        padding-right: 50px;
        }


/* Styling only the table row tr elements inside the advanceSearch.html
.text-input-table tr 
          {
           font-size: 10pt;
          }  */

/* Styling the tr's & td's inside the text-input-table class in advanceSearch.html */
/*.text-input-table tr td .searchbutton 
          {
           float: right;
           background-color: #4D90FE;
           color: #FFFFFF;
          }                                                           */
      
.vertical-center {margin-top: 150px;}                              
   
/* The @media rule is used in media queries to apply different styles */
/* for different media types/devices.                                 */
/* Removable                                                          */
/*@media only screen and (max-height: 500px) 
          {
           .vertical-center {
            margin-top: 15px;
          }                                                           */    
      
/*:hover, :focus, and :active are pseudo-classes that are determined  */
/*                                                                    */   
.foursearchbars:hover, .foursearchbars:focus, .searchbutton:hover 
        {
         box-shadow: 0 0 1px 1px #888888;
         outline: none;
        }


/* the @media rule is used in media queries to apply different styles */
/* for different media types/devices.                                 */
/* Removable                                                          */
/*@media only screen and (max-width: 550px) { */
              
/* The @media rule is used in media queries to apply different styles */
/* for different media types/devices.                                 */
/* Removable                                                          */
/* @media only screen and (max-width: 768px) 
          {.foursearchbars {width: 190px;}                            */

/* Search button blue-and-white-letters in advancesearch.html         */ 